@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600&display=swap');

.app-wrapper{
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 400;
  width: 1020px;
}
li{
  list-style: none;
}
a {
  text-decoration: none;
}
.app-wrapper-content{
  display: flex;
  flex-direction: unset;
  min-height: 570px;
}