.wrapper{
  display: flex;
  width: 100%;
  background-color: rgb(28,29,34);
  color: aliceblue;
}
.list{
  width: 30%;
  padding: 0 1% 0 1%;
  border-right: solid 2px #323746;
}
.item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgb(238, 231, 245);
  margin-top: 1%;
  cursor: pointer;
}
.message_block{
  width: 70%;
}
.active{
  color: red;
}
.item img{
  width: 30px;
  height: 30px;
  border-radius: 5px;
}